body {
    font-family: sans-serif;
    margin-top: 60px;
Background-image:url(/ui/back.jpg);
background-repeat:repeat-x;
background-color:#24ff07;
}

a:link {
color: red;
}
a:visited {
color: blue;
}
a:hover {
color: yellow;
}

#hospital {
    position:absolute;
top:5px;
left:5px;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}


.container{ margin: 0 auto;
    color: #000000;
    font-family:"Times New Roman",sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    text-align:center;
    font-size:125%;
}
#log{
    text-align:center;
    padding-left:50em;
}
#username,#password{
 width: 300px; height: 20px; 
 
}